body{
    background-color: #111344;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 28px;
    margin-top: 70px;
    margin-bottom: 30px;
    color: #EFE9E7;
}

form{
    margin-bottom: 15px;
}

.user, .buttons button{
    font-size:20px;
    color: #EFE9E7;
    border: 1px solid #EFE9E7;
}

.user:hover, .buttons button:hover{
    background:#EFE9E7;
    color:#111344;
}

.createPerson{
    color: #EFE9E7;
}

.form-text{
    color: #EFE9E7;
}

.full-name{
    margin-left: 5%;
    width:30%;
    margin: 0 auto;
}

.buttons{
    display: flex;   
    margin-top: 15px;
}

.buttons a{
    display: block;
}

.buttons button {
    width: 130px;
    height: 45px;
}

.full-name label{
    margin-top: 5px;
}

.full-name .user{
    display:inline;
}


ul{
    text-decoration: none;
    color: #EFE9E7;
    font-size: 18px;
}

.row{
    text-decoration: none;
    padding: 5px;
}

.head{
    text-align: center;
    border:1px solid red
}

td, th, .confirm{
    color: #EFE9E7;
    text-align: center;
}

tr:hover{
    background:#EFE9E7;
    color:#111344;
}

h3{
   margin-top: 40px;
}