<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <h1>Создать нового клиента</h1>
    <form action="/api/user/create/" method="post" class="createPerson">
        <div class="full-name">
            <label for="inputPassword5" class="form-label">ФИО клиента</label>
            <input required type="text" id="text1" name="fullName" class="form-control" aria-labelledby="passwordHelpBlock" placeholder="Иванов Иван Иванович">

            <label for="inputPassword5" class="form-label">Дата рождения</label>
            <input required type="text" id="text1" name="dateOfBirth" class="form-control" aria-labelledby="passwordHelpBlock" placeholder="дд.мм.гггг">

            <label for="inputPassword5" class="form-label">Процент скидки</label>
            <input required type="number" id="text1" name="discount" class="form-control" aria-labelledby="passwordHelpBlock" placeholder="0">

            <div class="buttons">
                <button type="button" class="btn btn-outline-secondary" id="back">Назад</button> 
                <button type="submit" class="btn btn-outline-secondary">Создать</button>
            </div>
        </div>
    </form>
    <h3 class="confirm"><%= succes %></h3>
    <script src="create.js"></script>
</body>
</html>