<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <h1>Кассир</h1>
    <form action="/api/user/create" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-outline-secondary user" id="createPerson">Создать клиента</button>
        </div>
    </form>
    <form action="/api/user/info" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-outline-secondary user">Посмотреть данные о клиенте</button>
        </div>
    </form> 
    <form action="/" method="get">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-outline-secondary user">Назад</button>
        </div>
    </form> 
    <script src="userScript.js"></script>
</body>
</html>
